DATABASE_URL=

QDRANT_HOST=
QDRANT_PORT=
QDRANT_URL=
QDRANT_API_KEY=

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=


APP_NAME=AcademicStack
DEBUG=False
FRONTEND_URL=

OPENAI_API_KEY=